.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.nl-code-container + .CodeMirror {
  height: 200px;
  min-height:100px;
  resize: vertical;
  overflow: auto !important;
}
