#colorBar {
    width: 60%;
    height: 20px;
    position: absolute;
    left: -24%;
    top: calc(72% / 2);
    transform: rotate(90deg);
}


.values {
    position: absolute;
    top: -50%;
    transform: rotate(-90deg);
    color: beige;
}

.minValue {
    left: -8%;
}

.maxValue {
    right: -8%;
}
