#colorBar {
    position: relative;
    left: 30px;
    height: 20px;
    transform-origin: left;
    transform: rotate(90deg);
}
.values {
    position: absolute;
    top: -50%;
    transform: rotate(-90deg);
    color: beige;
    font: 13px Arial, sans-serif;
}
.minValue {
    left: -20px;
}
.maxValue {
    right: -20px;
}
