#colorBar {
    position: relative;
    left: 30px;
    height: 20px;
    transform-origin: left;
    transform: rotate(90deg);
}


.values {
    position: absolute;
    top: -50%;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    color: beige;
    font: 13px Arial, sans-serif;
}

.minValue {
    left: 0px;
}

.maxValue {
    left: calc(100% + 15px);
}
